.work__title {
  display: inline-block;

  @media (max-width: 767px) {
    margin-top: 18px;
    max-width: 374px;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }

  @media (min-width: 768px) and(max-width: 1279px) {
    margin-top: 18px;
    max-width: 383px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    margin-top: 25px;
    width: 649px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
  }
}

.work__wrapper {
  text-align: center;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  @media (min-width: 768px) and(max-width: 1279px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  @media (min-width: 1280px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.filter__container {
  @media (max-width: 767px) {
    margin-top: 50px;
  }

  @media (min-width: 768px) and(max-width: 1279px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 60px;
    width: 688px;
    height: 484px;
    gap: 24px;
  }

  @media (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 60px;
    width: 1170px;
    height: 770px;
    gap: 30px;
  }
}

.filter__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.filter__radio-button {
  border: none;
  font-family: system-ui;
  font-style: normal;
  color: #7b7b7b;
  background: none;

  & input[type="radio"] {
    display: none;
  }

  & input[type="radio"]:checked + label {
    color: var(--primary-color);
  }

  & label {
    display: inline-block;
    border-radius: 6px;
    padding: 0 15px;
    line-height: 34px;
    cursor: pointer;
    user-select: none;
  }

  &:hover {
    color: #b8b8b8;
  }

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }

  @media (min-width: 768px) and(max-width: 1279px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }
}

.filter__image {
  border-radius: 5px;
  object-fit: cover;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 343px;
  }

  @media (min-width: 768px) and(max-width: 1279px) {
    width: 213px;
    height: 230px;
  }

  @media (min-width: 1280px) {
    width: 370px;
    height: 370px;
  }
}
