.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 120px;
  }

  @media (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.blog__swiper-container {
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 18px;
    height: 245px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 18px;
    width: 100%;
    height: 290px;
    max-width: 688px;
  }

  @media (min-width: 1280px) {
    margin-top: 60px;
    width: 100%;
    height: 330px;
    max-width: 1170px;
  }
}

.blog__swiper-slide {
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }
}

.blog__title {
  @media (max-width: 767px) {
    margin-top: 18px;
    width: 220px;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 18px;
    width: 320px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    margin-top: 25px;
    width: 542px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
  }
}

.blog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: var(--bg-achievement-color);

  @media (max-width: 767px) {
    padding: 18px 18px 27px;
    width: 296px;
    height: 220px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    padding: 18px;
    width: 332px;
    height: 260px;
  }

  @media (min-width: 1280px) {
    padding: 25px;
    width: 570px;
    height: 294px;
  }
}

.blog-content {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, max-content);

  @media (max-width: 767px) {
    row-gap: 6px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    row-gap: 18px;
  }

  @media (min-width: 1280px) {
    row-gap: 18px;
  }
}

.blog-content__topic {
  grid-area: 1 / 1;
  color: var(--primary-color);

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 123.6%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }

  @media (min-width: 1280px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }
}

.blog-content__title {
  grid-area: 2 / 1;

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
  }
}

.blog-content__preview {
  display: inline-block;
  grid-area: 1 / 2 / span 2;
  border-radius: 100px;

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
    font-size: 11px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    width: 80px;
    height: 80px;
    font-size: 11px;
  }

  @media (min-width: 1280px) {
    width: 164px;
    height: 164px;
    font-size: 11px;
  }
}

.blog-author {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: repeat(2, max-content);
}

.blog-author__photo {
  display: inline-block;
  grid-area: 1 / 1 / span 2;
  border-radius: 100px;

  @media (max-width: 767px) {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 7px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    font-size: 7px;
  }

  @media (min-width: 1280px) {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    font-size: 7px;
  }
}

.blog-author__name {
  align-self: center;
  grid-area: 1 / span 2;
  color: var(--text-title-color);

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }
}

.blog-author__date {
  display: flex;
  align-self: center;
  grid-area: 2 / span 2;
  gap: 20px;

  @media (max-width: 767px) {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 123.6%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
  }
}

.blog-author__date-create {
  position: relative;
  color: #7b7b7b;
}

.blog-author__date-create::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 5px;
  height: 5px;
  background-color: #7b7b7b;

  @media (max-width: 767px) {
    right: -13px;
    top: 4px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    right: -13px;
    top: 4px;
  }

  @media (min-width: 1280px) {
    right: -12px;
    top: 10px;
  }
}

.blog-author__time-on-read {
  color: #7b7b7b;
}
