.hero {
  background-color: var(--bg-secondary-color);

  @media (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    padding-top: 73px;
    padding-bottom: 73px;
  }

  @media (min-width: 1280px) {
    padding-top: 153px;
    padding-bottom: 153px;
  }
}

.hero__wrapper {
  display: grid;

  @media (max-width: 767px) {
    grid-template-rows: repeat(2, max-content);
    gap: 50px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    grid-template-columns: max-content 1fr;
    margin: 0 auto;
    max-width: 820px;
    gap: 20px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 500px 1fr;
    gap: 20px;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    align-items: flex-start;
    width: 350px;
  }

  @media (min-width: 1280px) {
    align-items: flex-start;
    justify-content: center;
  }
}

.hero__title {
  color: var(--text-title-color);

  @media (max-width: 767px) {
    width: 280px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-weight: 600;
    font-size: 39px;
    line-height: 123.6%;
  }

  @media (min-width: 1280px) {
    width: 400px;
    font-weight: 600;
    font-size: 39px;
    line-height: 123.6%;
  }
}

.hero__title--colored {
  color: var(--primary-color);
}

.hero__text {
  @media (max-width: 767px) {
    margin-top: 18px;
    max-width: 400px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 18px;
    max-width: 340px;
  }

  @media (min-width: 1280px) {
    margin-top: 18px;
  }
}

.hero__text--hide {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    display: none;
  }
}

.hero__image {
  width: 100%;

  @media (max-width: 767px) {
    justify-self: center;
    grid-area: 1 / 1;
    max-width: 400px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    max-height: 300px;
  }

  @media (min-width: 1280px) {
    max-height: 430px;
  }
}

.hero__button {
  @media (max-width: 767px) {
    margin-top: 25px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-top: 25px;
  }

  @media (min-width: 1280px) {
    margin-top: 25px;
  }
}
